.bg-primary {
    background-color: #1e1e1e !important;
  }

.ft-sz-1-5-rem {
    font-size: 1.5rem !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mr-5-vw {
    margin-right: 5vw !important;
}

.contribution-list-number{
    color: white !important;
    margin-top: 5px !important;
}

.ht-200 {
    height: 200px !important;
}